coloredlogs==10.0
h5py==2.8.0
humanfriendly==4.12.1
Keras==2.1.2
numpy==1.14.3
protobuf==3.5.2.post1
PyYAML==3.12
scikit-learn
scipy
six==1.11.0
sklearn==0.0
tensorflow==1.0.0
tensorflow-gpu==1.0.0
verboselogs==1.7
